<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/webshop</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Pass2020!</property>
        <mapping resource="webshop.hbm.xml"/>
        <!-- Weitere Einstellungen -->
    </session-factory>
</hibernate-configuration>
